@import "@/sassStyles/_mixins.scss";

@include fadeUp;
@include fade;
@include fadeDown;

aside {
  .transition-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
