@import "../../../sassStyles/variables";

.toolbar {
  position: sticky;
  top: 0;
  left: 0;
  height: $toolbar-height;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(10, 25, 47, 0.85);
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);

  .toolbar__desktop-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 0 3rem;
  }
}
