@import "../../../sassStyles/variables";

.icons__header {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 300;
  opacity: 0.5;
}

.icons__list {
  list-style: none;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;

  li {
    a {
      svg {
        fill: $fontPrimaryColor;
        opacity: 0.5;
        scale: 0.9;
      }
      svg:hover {
        fill: $hoverColor;
        cursor: pointer;
      }
    }
  }
}
