@import "../../sassStyles/variables";

.about {
  max-width: 900px;

  .inner-wrapper {
    display: block;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 3fr 2fr;
      grid-gap: 50px;
    }
  }
}
