@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.projects-list {
  list-style: none;
  margin: 0;
  padding: 0;
  a {
    position: relative;
    z-index: 1;
  }

  .styled-project {
    position: relative;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    border-radius: $custom-border-radius;

    @media (max-width: 768px) {
      &:hover {
        @include customBoxShadow;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 30px;
      @media (min-width: 480px) {
        margin-bottom: 70px;
      }
      @media (min-width: 768px) {
        margin-bottom: 100px;
      }
    }

    &:nth-of-type(odd) {
      .project-content {
        grid-column: 1 / -1;
        padding: 25px 25px 20px;
        text-align: left;

        @media (min-width: 480px) {
          padding: 40px 40px 30px;
        }
        @media (min-width: 768px) {
          grid-column: 5 / -1;
          text-align: right;
          padding: 0;
        }
        @media (min-width: 1080px) {
          grid-column: 7 / -1;
        }
      }

      .project-tech-list {
        justify-content: flex-start;
        @media (min-width: 768px) {
          justify-content: flex-end;
        }

        li {
          margin: 0 10px 5px 0;

          @media (min-width: 768px) {
            margin: 0 0 5px 20px;
          }
        }
      }

      .project-links {
        justify-content: flex-start;
        margin-left: -10px;
        margin-right: 0;

        @media (min-width: 768px) {
          justify-content: flex-end;
          margin-left: 0;
          margin-right: -10px;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          @include svg-inLine;

          &.external {
            svg {
              margin-top: -4px;
            }
          }
        }
      }

      .project-image {
        grid-column: 1 / -1;
        @media (min-width: 768px) {
          grid-column: 1 / 8;
        }
      }
    }

    .project-content {
      position: relative;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 25px 20px;
      z-index: 5;

      @media (min-width: 480px) {
        padding: 40px 40px 30px;
      }

      @media (min-width: 768px) {
        grid-column: 1 / 9;
        display: block;
        z-index: auto;
        height: auto;
        padding: 0;
      }
      @media (min-width: 1080px) {
        grid-column: 1 / 7;
      }
    }

    .project-overline {
      margin: 10px 0;
      color: $green;
      font-family: $font-mono;
      font-size: $fz-xs;
      font-weight: 400;
    }

    .project-title {
      color: $lightest-grey;
      font-size: clamp(22px, 5vw, 26px);
      @media (min-width: 768px) {
        margin: 0 0 20px;
      }
      @media (max-width: 768px) {
        color: $white;
        a {
          position: static;
          &:before {
            content: "";
            display: block;
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
        }
      }
    }

    .project-description {
      position: relative;
      z-index: 2;
      padding: 20px 0;
      border-radius: $custom-border-radius;
      background-color: transparent;
      color: $light-grey;
      font-size: $fz-md;
      line-height: 1.4;
      @media (min-width: 768px) {
        padding: 25px;
        background-color: $light-navy;
      }
    }

    .project-tech-list {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      z-index: 2;
      margin: 10px 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0 20px 5px 0;
        color: $lightest-grey;
        font-size: $fz-xs;
      }
      @media (min-width: 768px) {
        margin: 25px 0 10px;
        li {
          margin: 0 20px 5px 0;
          color: $light-grey;
        }
      }
    }

    .project-links {
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 10px;
      margin-left: -10px;
    }

    .project-image {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      position: relative;
      z-index: 1;
      opacity: 0.25;
      height: 100%;

      @media (min-width: 768px) {
        @include customBoxShadow;
        grid-column: 6 / -1;
        opacity: 1;
        height: auto;
      }

      a {
        width: 100%;
        height: 100%;
        background-color: $grey;
        border-radius: $custom-border-radius;
        vertical-align: middle;
        &:hover,
        &:focus {
          background: transparent;
          outline: 0;
          &:before,
          .image-wrapper {
            background: transparent;
            filter: none;
          }
        }
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          inset: 0px;
          z-index: 3;
          transition: $defaultTransition;
          background-color: $navy;
          opacity: 0.8;
          @media (min-width: 768px) {
            mix-blend-mode: screen;
            opacity: 1;
          }
        }

        .image-wrapper {
          border-radius: $custom-border-radius;
          mix-blend-mode: multiply;
          filter: grayscale(100%) contrast(1) brightness(90%);

          width: 100%;
          max-width: 100%;
          vertical-align: middle;
          position: relative;
          overflow: hidden;
          margin: 0;

          picture {
            max-width: 700px;
            display: block;
          }
          img {
            width: 100%;
            max-width: 100%;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.github-invitation {
  padding-top: 200px;
  width: 100%;
  text-align: center;
  h3 {
    font-size: $fz-heading;
  }

  a {
    font-family: $font-mono;
    font-size: $fz-sm;
    @include inlineLink;
  }
}
