@import "../../../../sassStyles//mixins";
@import "../../../../sassStyles/variables";

.navigation-item {
  counter-increment: item 1;

  a {
    text-decoration: none;
    color: inherit;
    font-family: $font-mono;
    font-size: $fz-xs;
    padding: 0.6rem;
    transition: $defaultTransition;
    &:hover {
      color: $green;
    }
    &:focus {
      outline: 2px dashed $green;
      outline-offset: 3px;
    }
  }

  a:before {
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: $green;
    font-size: $fz-xxs;
    text-align: right;
  }
}

.navigation-item--enter {
  opacity: 0;
  transform: translateY(-3rem);
}

.navigation-item--enter-active {
  @include animateDown;
}
