@import "@/sassStyles/_variables.module.scss";
@import "@/sassStyles/_mixins.scss";

.navigation-item {
  counter-increment: item 1;

  a {
    text-decoration: none;
    color: inherit;
    font-family: $font-mono;
    font-size: $fz-xs;
    padding: 0.6rem;
    transition: $defaultTransition;
    &:hover {
      color: $green;
    }
    &:focus {
      outline: 2px dashed $green;
      outline-offset: 3px;
    }
  }

  a:before {
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: $green;
    font-size: $fz-xxs;
    text-align: right;
  }
}

@include fadeDown;
