@import "../../sassStyles/variables";

.styled-header {
  position: fixed;
  top: 0;
  z-index: 14;
  height: $toolbar-height;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px);
  transition: $defaultTransition;
  padding: 0 25px;
}

.with-box-shadow {
  height: $toolbar-scroll-height;
  transform: translateY(0px);
  background-color: rgba(10, 25, 47, 0.85);
  box-shadow: 0 10px 30px -10px $navy-shadow;
}

.header--hidden {
  height: $toolbar-scroll-height;
  transform: translateY(calc($toolbar-scroll-height * -1));
  box-shadow: 0 10px 30px -10px $navy-shadow;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .navigation {
    display: none;
  }

  .side-nav-container {
    @media (min-width: 768px) {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .navigation {
      display: flex;
    }
  }
}
