@import "../../../sassStyles/mixins";
@import "../../../sassStyles/variables";
.social {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // Social Component
  ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    list-style: none;
    padding: 0;
    bottom: 0;
    gap: 2rem;

    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0px auto;
      background-color: $light-grey;
    }

    li {
      a {
        color: inherit;
        @include svgDefaultStyle;
      }
    }
  }
  //Email Component
  div {
    display: flex;
    flex-direction: column;
    position: fixed;
    list-style: none;
    padding: 0;
    bottom: 0;
    gap: 2rem;

    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0px auto;
      background-color: $light-grey;
    }

    a {
      color: inherit;
      text-decoration: none;
      writing-mode: vertical-rl;
      font-family: $font-mono;
      font-size: 0.75rem;
    }
  }
}
