@import "./variables";

//Animations
@mixin fadeDown() {
  .fadedown-enter {
    opacity: 0.01;
    transform: translateY(-20px);
    transition: all 300ms $easing;
  }
  .fadedown-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 300ms $easing;
  }
}

@mixin fadeUp() {
  .fadeup-enter {
    opacity: 0.01;
    transform: translateY(20px);
    transition: all 300ms $easing;
  }
  .fadeup-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 300ms $easing;
  }
}

@mixin fade() {
  .fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms $easing;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms $easing;
  }
}

//Styles
@mixin columnAside() {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 0;
  bottom: 0;
  gap: 2rem;
}

@mixin headingBig() {
  margin: 0;
  font-size: clamp(2.5rem, 8vw, 5rem);
  font-weight: 600;
}
//Element
@mixin layoutLine() {
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: $light-grey;
  }
}
