@import "./variables";

//Animations
@mixin fadeDown() {
  .fadedown-enter {
    opacity: 0.01;
    transform: translateY(-20px);
    transition: all 300ms $easing;
  }
  .fadedown-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 300ms $easing;
  }
}

@mixin fadeUp() {
  .fadeup-enter {
    opacity: 0.01;
    transform: translateY(20px);
    transition: all 300ms $easing;
  }
  .fadeup-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 300ms $easing;
  }
}

@mixin fade() {
  .fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms $easing;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms $easing;
  }
}

//Styles
@mixin columnAside() {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 0;
  bottom: 0;
  gap: 2rem;
}

@mixin customBoxShadow() {
  box-shadow: 0 10px 30px -15px $green;
  transition: $defaultTransition;
  &:hover,
  &:focus {
    box-shadow: 0 20px 30px -15px $green;
  }
}

@mixin svg-with-animation() {
  svg {
    display: block;
    width: 20px;
    height: 20px;
    color: $light-grey;
    cursor: pointer;
    transition: $defaultTransition;

    &:hover,
    &:focus {
      color: $green !important;
      transform: translateY(-3px);
    }
  }

  svg.special-styling {
    fill: $light-grey;
    &:hover,
    &:focus {
      fill: $green !important;
      transform: translateY(-3px);
    }
  }
}

@mixin svg-no-animation() {
  svg {
    transform: scale(1.3);
    fill-opacity: 1;
    stroke-width: 20;
    stroke-linecap: round;
    stroke-linejoin: round;
    path {
      fill: $grey !important;
    }
    .custom-svg {
      fill: $navy !important;
    }
    line,
    polyline {
      stroke: $grey !important;
    }
  }
}

@mixin svg-inLine() {
  svg {
    width: 20px;
    height: 20px;
    color: inherit;
    cursor: pointer;
    transition: $defaultTransition;

    &:hover,
    &:focus {
      color: $green;
    }
  }
}

//Elements
@mixin layoutLine() {
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: $light-grey;
  }
}

@mixin inlineLink() {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: $green;
  &:hover,
  &:focus,
  &:active {
    color: $green;
    outline: 0;
    &:after {
      width: 100%;
    }
    & > * {
      color: $green;
      transition: $defaultTransition;
    }
  }

  &:after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: $green;
    transition: $defaultTransition;
    opacity: 0.5;
  }
}

@mixin bigButton {
  color: $green;
  background-color: transparent;
  border: 1px solid $green;
  border-radius: $custom-border-radius;
  padding: 1.25rem 1.75rem;
  font-size: $fz-sm;
  font-family: $font-mono;
  line-height: 1;
  text-decoration: none;
  transition: $defaultTransition;
  &:hover,
  &:focus,
  &:active {
    background-color: $green-tint;
    outline: none;
  }
  &:after {
    display: none !important;
  }
}
