@import "./variables";

//Animations
@mixin animateDown() {
  @keyframes SlideIn {
    0% {
      transform: translateY(-3rem);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  animation: SlideIn 1s $defaultTransitionTiming forwards;
}

//Styles
@mixin svgDefaultStyle() {
  svg {
    width: 1.25rem;
    height: 1.25rem;
    color: inherit;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $green;
      transform: translateY(-3px);
    }
  }
}
