@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap");

// Colors
$navBackgroundColor: rgba(10, 25, 47, 0.7);
$fontPrimaryColor: #ccd6f6;
$hoverColor: #64ffda;

// Font
$defaultFont: "Roboto", sans-serif;
