@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Mono&family=Inter:wght@400;600&family=Roboto+Mono&display=swap");
// Colors
$navy: #0a192f;
$lightest-navy: #233554;
$green: #64ffda;
$dark-grey: #495670;
$grey: #8892b0;
$light-grey: #a8b2d1;
$lightest-grey: #ccd6f6;
$green-tint: rgba(100, 255, 218, 0.1);

// Effects
$easing: cubic-bezier(0.645, 0.045, 0.355, 1);
$defaultTransition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

//Fonts
$font-mono: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
$font-sans: "Inter", sans-serif;

$fz-xxs: 0.75rem;
$fz-xs: 0.8125rem;
$fz-sm: 0.875rem;
$fz-md: 1rem;
$fz-lg: 1.125rem;
$fz-xl: 1.25rem;
$fz-xxl: 1.375rem;
$fz-heading: 2rem;

//Sizes
$toolbar-height: 4.375rem;
$custom-border-radius: 0.25rem;
