@import "@/sassStyles/_variables.module.scss";
@import "@/sassStyles/_mixins.scss";

.social-icons {
  @include columnAside;
  list-style: none;
  margin: 0;

  li {
    a {
      color: inherit;
      @include svg-with-animation;
    }
  }

  @include layoutLine;
}
