@import "@/sassStyles/_variables.module.scss";
@import "@/sassStyles/_mixins.scss";

.email-container {
  @include columnAside;

  a {
    color: inherit;
    text-decoration: none;
    writing-mode: vertical-rl;
    font-family: $font-mono;
    font-size: 0.75rem;
    transition: $defaultTransition;

    &:hover,
    &:focus {
      color: $green;
      transform: translateY(-3px);
    }
  }
  @include layoutLine;
}
