@import "./sassStyles/variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $lightest-grey;
  background-color: $navy;
  font-family: $font-mono;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
