@import "../../sassStyles/mixins";
@import "../../sassStyles/variables";

.resume-button {
  border: 1px solid $green;
  border-radius: $custom-border-radius;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: $green;
  font-size: $fz-xs;

  &:hover,
  &:active,
  &:focus {
    background-color: $green-tint;
    outline: none;
  }
}

.resume-button--enter {
  opacity: 0;
  transform: translateY(-3rem);
}

.resume-button--enter-active {
  @include animateDown;
}
